fastapi[all]
sentence-transformers
chromadb==0.4.15
posthog==3.0.1
pysqlite3-binary
celery
kombu
sqlalchemy
psycopg2-binary
alembic
google-api-python-client
python-dateutil
google-generativeai
groq
openai
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
slowapi
pytest
pytest-asyncio
httpx
pytest-cov